# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
/dist

# Editor directories and files
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Local history files
.history

# macOS specific files
.DS_Store

# Angular specific
/out-tsc/
/coverage/
.angular/
